mixin information-list({mainInfo, date, subInfo, text, isFirst, color})
    .information-list
        .information-list__item(class=`information-list__item_${isFirst}`)
            .information-list__pre-symbol
            .information-list__wrapper
                .information-list__header-info
                    span.information-list__main-info(style=`color: ${color}`)= mainInfo
                    span.information-list__date-info= date
                    span.information-list__sub-info= subInfo
                .information-list__text= text